{% extends "site-skeleton.html" %}

{% block body %}



<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create post</h1>
    		
    		<form action="create" method="POST">
    		    
    		    {% csrf_token %}
    		    
    		    <div class="form-group">
    		        <label for="title">Title <span class="require">*</span></label>
    		        <input type="text" class="form-control" name="title" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="description">Text</label>
    		        <textarea rows="5" class="form-control" name="description" ></textarea>
    		    </div>
    		    
    		    <div class="form-group">
    		        <p><span class="require">*</span> - required fields</p>
    		    </div>
				<div class="form-group">
					<label for="title">Subject <span class="require">*</span></label>
    		        <select id="subjects-select" class="form-control">
				  {% for subject in subjects %}
                  <option value="{{ subject.name }}" >{{ subject.name }}</option>
                  {% endfor %}
					</select>
    		    </div>
    		    
    		    <div class="form-group my-4">
    		        <button type="submit" class="btn btn-primary">
    		            Create
    		        </button>
    		        <a href="/skms/forum" class="btn btn-default">
    		            Cancel
					</a>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>

{% endblock %}

{% block script %}
<script>
	
</script>

{% endblock %}