{% extends "site-skeleton.html" %}

{% block body %}
   
   
<hidden name="current_user" style="display:none;">{{ current_user }}</hidden>
<hidden name="current_user_id" style="display:none;">{{ current_user_id }}</hidden>
<div class="container">
    <div id="discussion-head-div">
        <h2>Discussion Forum</h2>
        <div id="instructions-div">
        </div>
    </div>
    <div id="filter-div">
        <div id="filter-by-tag-div">

        </div>
        <div id="search-div">

        </div>
        <div id="sort-div">

        </div>
    </div>
    <div id="posts-div">
        <div id="recent-posts-div">

        </div>
        <div id="popular-posts-div">

        </div>
        <div id="filtered-posts-div">
            
        </div>
    </div>
</div>

{% endblock %}