{% extends "site-skeleton.html" %}

{% block body %}

<div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
    <div class="row align-items-center">
      <div class="col-md-8 mb-3 mb-sm-0">
        <h5>
          <a href="#" class="text-primary">{{post.title}}</a>
        </h5>
        <p class="text-sm"><span class="op-6">Posted </span>{{post.datetime}} <span class="op-6">by</span> <a class="text-black" href="#">{{post.author}}</a></p>
        <div class="text-sm op-5"> <a class="text-black mr-2" href="#">{{post.subject}}</a></div>
      </div>
      <div class="col-md-4 op-7">
        <div class="row text-center op-7">
          <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm">{{post.likes}} Likes</span> </div>
          <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">Comment Count</span> </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}